<main-carousal></main-carousal>
<div class="first-main-box">
    <h1>create your first blog & best platform for bloging </h1>
    <h3>Create a unique blog. Its easy and free</h3>
<a routerLink="/signup">
        <button type="button" class="main-signup-button " data-aos="zoom-in-right" data-aos-duration="2000"
            data-aos-mirror="true" data-aos-delay="50" data-aos-easing="ease-in-out">Sign Up</button>
    </a>
    <a routerLink="/login">
        <button type="button" class="main-login-button" data-aos="zoom-in-left" data-aos-duration="2000"
            data-aos-mirror="true" data-aos-delay="50" data-aos-easing="ease-in-out">Login</button>
    </a>    
</div>
<footer>
    <div class="footer-content">
      <p>&copy; 2023 Blog Application. All rights reserved.</p>
      <p>Designed with ❤️ Rahul</p>
    </div>
</footer>
